# Node dependencies
node_modules/

# Output directories
.next/
out/
build/

# dotenv files and keys
.env
*.env
*.env.*
*.json
!package.json

# OS junk
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDE/editor files
.vscode/
.idea/

# Testing coverage
/coverage/

# Dist folders (if you have any)
dist/

# Service Account Keys (critical)
*service-account*.json
*key*.json
